@font-face {
    font-family: 'opensans-regular';
    src: url('../fonts/opensans/opensans-regular.eot');
    src: url('../fonts/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/opensans-regular.woff') format('woff'),
         url('../fonts/opensans/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans/opensans-regular.svg#open_sanscondensed_thin') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaa-bold';
    src: url('/fonts/comfortaa/comfortaa-bold.eot');
    src: url('/fonts/comfortaa/comfortaa-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa/comfortaa-bold.woff2') format('woff2'),
         url('/fonts/comfortaa/comfortaa-bold.woff') format('woff'),
         url('/fonts/comfortaa/comfortaa-bold.ttf') format('truetype'),
         url('/fonts/comfortaa/comfortaa-bold.svg#comfortaabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaa-thin';
    src: url('/fonts/comfortaa/comfortaa-thin.eot');
    src: url('/fonts/comfortaa/comfortaa-thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa/comfortaa-thin.woff2') format('woff2'),
         url('/fonts/comfortaa/comfortaa-thin.woff') format('woff'),
         url('/fonts/comfortaa/comfortaa-thin.ttf') format('truetype'),
         url('/fonts/comfortaa/comfortaa-thin.svg#comfortaathin') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'comfortaa-regular';
    src: url('/fonts/comfortaa/comfortaa-regular.eot');
    src: url('/fonts/comfortaa/comfortaa-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa/comfortaa-regular.woff2') format('woff2'),
         url('/fonts/comfortaa/comfortaa-regular.woff') format('woff'),
         url('/fonts/comfortaa/comfortaa-regular.ttf') format('truetype'),
         url('/fonts/comfortaa/comfortaa-regular.svg#comfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
