header {
  display: block;
  top: 0;
  height: $header-height;
  nav {
    @extend .navbar;
    @extend .navbar-light;
    padding: 0;
    border-width: 0px;
    border-style: solid;
    border-color: #13bceb;
    background-color: rgba(#36c3ea, 1);
    height: $header-height;
    > div {
      @extend .container;
      #logo {
        @extend .navbar-brand;
	padding: 0;
	margin: 0;
	font-family: $font-title;
	line-height: $header-height;
	font-size: 2rem;
      }
      > ul {
        @extend .nav;
	@extend .navbar-nav;
        float: right;
        li {
          @extend .nav-item;
          a {
            @extend .nav-link;
            height: $header-height;
            padding: 5px 5px 0 5px;
            line-height: 30px;
            text-align: center;
	    font-family: $font-subtitle;
            font-size: 1.1rem;
            color: rgba(0, 0, 0, 0.6);
            span {
              display: block;
	      line-height: 15px;
              font-family: $font-standard;
              font-weight: normal;
              font-size: 0.8rem;
              color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
}
