{% extends "base.html" %}

{% block body_id %}index{% endblock %}
{% block title %}L'élabomobile &ndash; Coworking nomade à Bayonne St Esprit{% endblock %}

{% block content %}

  {# Articles #}
  <section id="tagline">
    <div>
      <div>
        <h1>l'élabomobile</h1>
        <p>
          Coworking nomade à Bayonne St Esprit<br />
          laboratoire solidaire et éco-responsable<br />
          propulsion collective.
        </p>
      </div>
    </div>
  </section>

  <section id="concept">
    <div>
      <div>
        <article>
          <img src="/img/elabomobile-itinerance.jpg" />
          <h2>En itinérance</h2>
          <p>
            Différents lieux (et leurs habitants) accueillent l'élabomobile,
            chacun leur tour, le temps d'une journée.
            <strong>C'est l'occasion de tisser des liens et de contribuer à la
            vie du lieu et de son écosystème</strong>.
          </p>
        </article>
        <article>
          <img src="/img/elabomobile-coworkers.jpg" />
          <h2>Ouvert à tous&nbsp;!</h2>
          <p>
            Professionnels, habitants ou simples passants, quel que soit votre âge,
            que ce soit pour travailler seul, en groupe ou simplement être là,
            <strong>soyez bienvenus&nbsp;!</strong>
            Le tarif est &laquo;&nbsp;libre et responsable&nbsp;&raquo;.
          </p>
        </article>
        <article>
          <img src="/img/elabomobile-lieux.jpg" />
          <h2>Un espace d'activité libre</h2>
          <p>
            Trait d'union entre plusieurs acteurs, l'élabomobile propose un
            environnement propice aux activités, rencontres et échanges.
            <strong>Le programme, lui, est participatif.</strong>
            À vous de jouer&nbsp;!
          </p>
        </article>
        <article>
          <img src="/img/elabomobile-elabomobile.jpg" />
          <h2>L'élabomobile</h2>
          <p>
            L'élabomobile pose un cadre et tisse des liens.
            Un zeste de logistique, une pincée de communication...
            Mais le secret, c'est <strong>le plaisir d'accueillir chacun et
            d'encourager l'émulation&nbsp;!</strong>
          </p>
        </article>
      </div>
    </div>
  </section>

  <section id="pratique">
    <div>
      <div>
        <article>
          <h2>Pour quoi faire&nbsp;?</h2>
          <ul>
            <li>Développer ses projets&nbsp;;</li>
            <li>suivre un atelier ou une formation&nbsp;;</li>
            <li>poser des questions, proposer des réponses&nbsp;;</li>
            <li>échanger les nouvelles&nbsp;;</li>
            <li>prendre le thé...</li>
          </p>
        </article>
        <article>
          <h2>Qu'est-ce qu'on y trouve&nbsp;?</h2>
          <ul>
            <li>Une connexion internet, des tables, des chaises&nbsp;;</li>
            <li>le matériel pour une petite conférence&nbsp;;</li>
            <li>de quoi faire une pause&nbsp;;</li>
            <li>d'autres personnes pour échanger ou travailler&nbsp;;</li>
            <li>et ce que vous y amènerez&nbsp;!</li>
          </ul>
        </article>

      </div>
    </div>
  </section>

  <section id="vision">
    <div>
      <div>
        <article>
          <h2>Nomade</h2>
          <div>
            <p>
              Léger, <strong>libre</strong>, joyeux<br />
              accueillant, curieux, <strong>ouvert</strong><br />
              <strong>simple</strong>, sobre, durable<br />
              éphémère, en mouvement, <strong>vivant !</strong>
            </p>
          </div>
        </article>
        <article>
          <h2>Durable</h2>
          <p>
            Rechercher, expérimenter et transmettre
            des solutions pour exercer nos activités
            sereinement,
            dans le respect des personnes autant que de notre environnement.
            Dès aujourd'hui, demain encore.
          </p>
        </article>
        <article>
          <h2>Propulsion collective</h2>
          <p>
            Investir dans le développement collectif,
            tisser des liens,
            réaliser ensemble,
            faire émerger des groupes autour de projets,
            nourrir l'émulation,
            faire preuve de solidarité,
            faire société.
          </p>
        </article>
        <article>
          <h2>Changer de perspective</h2>
          <p>Déplacer le corps, déplacer l'esprit,
          sortir de la routine,
          se libérer des entraves, 
          reconsidérer les problèmes,
          être curieux,
          croiser d'autres regards.</p>
        </article>
      </div>
    </div>
  </section>

  <section id="prototype">
    <div>
      <div>
        <article>
          <img src="/img/elabomobile-bayonne-saint-esprit.jpg" />
          <h2>Lancement à Bayonne St Esprit</h2>
          <p>
            Identité, mixité sociale, vitalité culturelle et associative, enjeux
            d'urbanisation, histoire, flux de déplacements...
            Le quartier Saint Esprit à Bayonne est à la fois source d'inspiration
            et terrain d'expérimentation idéal pour l'élabomobile.
          </p>
        </article>
        <article>
          <img src="/img/elabomobile-quintuplette.jpg" />
          <h2>Aidez-nous à relever le défi&nbsp;!</h2>
          <p>
            Notre ambition&nbsp;:
            réunir en moyenne 15 personnes,
            une journée par semaine,
            en itinérance dans 5 lieux emblématiques du quartier.
          </p>
          <p>
            <strong>Nous recherchons hôtes et personnes motivées pour lancer les premières sessions&nbsp;!</strong>
            <a href="#coordonnees">Contactez-nous&nbsp;!</a>
          </p>
        </article>
      </div>
    </div>
  </section>
  <div id="map">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <div id="map_container"></div>
  </div>

  <section id="contacts">
    <div>
      <div>
        <article>
          <h2>Des questions&nbsp;?</h2>
          <p>Envie de participer&nbsp;? Envie de mieux comprendre les motivations ou le fonctionnement&nbsp;? Envie d'appliquer ces principes à un autre territoire&nbsp;? Nous serons ravis d'en discuter&nbsp;!
          </p>
        </article>
        <article class="coordonnees" id="coordonnees">
          <h2>Contacts</h2>
          <p>
            Fanny Lescourret &amp; Benoît Bryon<br />
            contact@elabomobile.org<br />
            06&nbsp;74&nbsp;49&nbsp;68&nbsp;81
          </p>
        </article>
      </div>
    </div>
  </section>

{% endblock content %}
